@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

/* .button {
  margin: 0;
  padding: 0;
} */

#root {
  height: 100%;
}

.container1 {
  height: 100%;
  display: flex;
}

.map {
  /* margin-left: 25%;
  height: 100vh;
  position: relative; */
  flex-grow:  1;
}

.leaflet-container {
  height: 100%;
  width: 100%;
}

.box {
  width: 90%;
  margin: 5%;
}

.sign {
  text-align: center;
  color: black;
  margin-top: 10px;
}


@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
